:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #fae7e9;
  --secondary-color: #84a35d;
}

.hero {
  background-color: var(--primary-color);
  padding: 160px;
  padding-bottom: 100px;
}
.job-title {
  font-size: 20px;
}

.projects-header,
.about-me-header {
  padding-left: 160px;
}

.projects-header,
.about-me-header,
.contact-me-header {
  background-color: var(--primary-color);
  padding-top: 100px;
  padding-bottom: 30px;
}

.contact-section {
  text-align: center;
}
h1,
.projects-header,
.about-me-header,
.contact-me-header {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 60px;
  font-weight: 800;
}
p,
li {
  font-family: var(--secondary-font);
}
.ml-pic {
  max-width: 400px;
  padding-left: 40px;
}

.fa-brands {
  font-size: 25px;
}
.social-media {
  text-align: center;
}

.work-experience-section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.work-experience-section,
.skills-section,
.interests-section {
  padding-left: 160px;
  padding-right: 160px;
}
.interests-section {
  padding-top: 30px;
  padding-bottom: 160px;
}
.app-preview-display {
  padding-bottom: 160px;
  margin-left: 100px;
}
hr {
  color: var(--secondary-color);
}
.app {
  padding-top: 60px;
}

.header {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 30px;
}
.navbar-brand,
.nav-link,
.btn,
li {
  font-family: var(--secondary-font);
  transition: all 200ms ease-in-out !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: var(--secondary-color) !important;
}

.social-media-contact-page {
  padding-top: 246px;
}
.contact-btn {
  color: white;
}
.contact-message {
  font-size: 25px;
  padding-bottom: 20px;
  padding-top: 10px;
}

@media (max-width: 960px) {
  .hero {
    padding: 20px;
    padding-top: 70px;
    text-align: center;
  }
  h1 {
    font-size: 45px;
    font-weight: 900px;
    text-align: center;
    padding-bottom: 10px;
  }
  .job-title {
    font-size: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
  }

  .about-me-header,
  .projects-header,
  .contact-me-header {
    font-size: 45px;
    padding: 0px;
    padding-top: 100px;
    padding-bottom: 30px;
    text-align: center;
  }
  .work-experience-section,
  .skills-section,
  .interests-section {
    padding-left: 40px;
    padding-right: 40px;
  }

  .skills-header,
  .work-experience-section,
  .interests-section {
    text-align: center;
  }
  .interests-section {
    padding-bottom: 80px;
  }
  .btn {
    font-size: 14px;
    padding: 8px 4px;
    margin: 0px;
  }
  .header {
    font-size: 25px;
  }

  .app-description,
  li,
  .interests-description,
  .skills-description,
  .work-description {
    font-size: 14px;
  }
  .contact-message {
    font-size: 20px;
  }

  .social-media {
    font-size: 10px;
  }
  .app {
    padding: 1px;
  }
  .boba-app,
  .weather-app,
  .portfolio-app,
  .app-description {
    padding-top: 0px !important;
    padding-bottom: 5px !important;
    padding-left: 2px !important;
    padding-right: 2px !important;
    text-align: center;
  }

  .ml-pic {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    padding: 0px;
    padding-bottom: 25px;
    padding-top: 30px;
  }
  .app-preview-display {
    margin: 0px;
    text-align: center;
  }
}
