:root {
  --primary-font: "Playfair Display", serif;
  --secondary-font: "Poppins", sans-serif;
  --primary-color: #fae7e9;
  --secondary-color: #84a35d;
}

.hero {
  background-color: var(--primary-color);
  padding: 160px;
  padding-bottom: 60px;
}

.projects-header,
.about-me-header {
  background-color: var(--primary-color);
  text-align: left;
  padding: 160px;
  padding-bottom: 50px;
}

h1 {
  color: var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 60px;
  font-weight: 800;
}
p {
  font-family: var(--secondary-font);
  font-weight: bold;
}
.ml-pic {
  max-width: 350px;
}

.contact-section {
  padding: 150px;
  text-align: center;
}
.fa-brands {
  font-size: 25px;
}
.social-media {
  text-align: center;
}
.about-me-section {
  padding-left: 160px;
  padding-right: 160px;
}

.work-experience-section,
.skills-section {
  padding-top: 40px;
}

.skills-section {
  padding-bottom: 40px;
}

.interests-section {
  padding-bottom: 160px;
}
